node_modules
**/node_modules
dist
**/dist
**/dist/**
!packages/audit-runner/dist
!packages/audit-runner/dist/**
!packages/audit-rpc-server/dist
!packages/audit-rpc-server/dist/**
*.tsbuildinfo
**/*.tsbuildinfo
coverage
**/coverage
**/coverage/**
.git
.env
localdata
../localdata
